h1 {

    color: red;
}

body {

    background-color: cadetblue;
}

h1{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }


.backbutton {

    color: blue;
    text-align: center;
    font-size: large;
}